.row
  .large-12.columns
    #main-content.wrap
      #u-annotations
        - @annotations.each do |annotation|
          %h4
            = link_to annotation.text, annotation_path(annotation.id)

    = will_paginate @annotations

= content_for :js_ext do
  :javascript
    $('.annotations-btn').addClass('active');
