.annotator-adder, .annotator-editor, .annotator-viewer {
  position: absolute;
}
.content {
  position: relative;
}
.annotator-hl {
  background-color: green;
}
.annotator-adder, .annotator-editor, .annotator-viewer {
  background-color: #e5e5e5;
  padding: 5px 8px;
  opacity: .95;
  border-radius: 5px;
  // background-image: url(annotator-icon-sprite.png?embed);
  // background-repeat: no-repeat;
}

.annotator-viewer p {
  margin: 0;
}

#annotator-wedget i {
  width: 20px;
  cursor: pointer;
}
.annotator-listing,
.annotator-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.annotator-widget {
  margin: 0;
  padding: 0;
  bottom: 15px;
  left: -18px;
  min-width: 265px;
  border-radius: 5px;
}

.annotator-editor .annotator-item input,
.annotator-editor .annotator-item textarea {
  min-width: 100%;
  margin: 0;
  color: rgb(60, 60, 60);
  background: none;
  resize: none;
  min-height: 5.5em;
  border-radius: 5px;
}

.annotator-editor .annotator-controls {
  text-align: right;
}

/*annotator item*/
.annotator-item .annotator-controls a {
  display: block;
  margin-bottom: 10px;
}
.annotator-viewer ul {
  padding: 5px;
}
